[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Jose Javier
	email = josejavier.gonzalez.ortiz@gmail.com
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[merge]
    tool = sublime
[mergetool "sublime"]
    cmd = "subl -w $MERGED"
    trustExitCode = false
[alias]
    graph = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
    graph2 = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
