.DS_Store
*rsa*

imgur-album-downloader/
python/.matplotlib/fontList.json
.tmp-aliases
python/.matplotlib/fontlist-v300.json
scripts/bin/fasd
local
.stignore
.stversions
scripts/bin/diff-so-fancy
scripts/bin/syncthing
python/.ipython/profile_default/history.sqlite
vim/.vim/plugged
vim/.vim/undodir
vim/.vim/spell
dotfile_bk_*
todo.md
