#
# Mackup configuration file
#

[storage]
engine = dropbox

# You can customize the directory name in which Mackup stores your file. By
# default, if not specified, Mackup creates a "Mackup" directory in the storage
# engine you chose, e.g. "~/Dropbox/Mackup".
directory = Mackup

# List of applications you want to explicitly sync
# One application name per line
# If this list is empty, Mackup will try to sync all the supported
# applications.
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# For example, to sync Irssi, Ventrilo and XEmacs, add:
[applications_to_sync]

# List of applications you want to ignore
# One application name per line
# If an application is ignored, it will be ignored even if it's been explicitly
# allowed in the [Allowed Applications].
#
# To see a list of supported application names, launch mackup list
# Use the names listed below.
#
# For example, to not sync SSH and Adium, add:
[applications_to_ignore]
alacritty
aspell
bash
bat
curl
doom-emacs
emacs
fasd
fish
git
gnupg
hammerspoon
ipython
jupyter
karabiner-elements
kitty
mackup
nano
neovim
pass
prezto
quicklook
rclone
ripgrep
screen
ssh
sublime-text-3
tig
tmux
tmuxinator
vim
wakatime
yabai
zsh
