#
# env EDITOR=vim crontab -e
#
# see cron/ folder
#    chmod +x *.sh

#=====================================================================#
#     0-23   0-59               0-30  0-6   1-12                      #
#     |_    _|                 _|    _|    _|                         #
#       |  |                  |     |     |            * any          #
#    At HH:MM on day-of-month MD on WD in M            - range        #
#       |  |                  |     |     |            , array        #
#     __|__|            ______|     |   __|            / step         #
#    |  |            __|         ___|__|                              #
#   _|  |__         |         __|   |__                               #
#  |       |        |        |         |                              #
#  |       |        |        |         |                              #
#=====================================================================#
#  Min  |  Hour  |  Mday  |  Month  |  Wday  |  Command               #
#=====================================================================#
   */5     *        *        *         *        $HOME/.cron/every-five-minutes.sh >> /tmp/cronlog 2>&1
   0       *        *        *         *        $HOME/.cron/every-hour.sh >> /tmp/cronlog 2>&1
   0       9        *        *         *        $HOME/.cron/daily-morning.sh >> /tmp/cronlog 2>&1
   0       1        *        *         *        $HOME/.cron/daily-nighttime.sh >> /tmp/cronlog 2>&1
   0       0        *        *         5        $HOME/.cron/every-week.sh >> /tmp/cronlog 2>&1
#=====================================================================#