alias ga='git add'
alias gs='git status'
alias ts='tig status'
alias gg='git graph'

alias fuck='eval $(thefuck $(fc -ln -1)); history -r'
alias matlabc='matlab -nodesktop -nosplash'
alias jc="jupyter nbconvert"
alias jq='jupyter qtconsole --style monokai &'
alias jn="jupyter notebook"
alias jn-b="jupyter notebook --no-browser"
alias tab='open . -a iterm'
alias diff='colordiff'
alias yt="youtube-dl"
alias yta="youtube-dl --extract-audio --audio-format mp3"
alias doc2pdf="soffice --headless --convert-to pdf"
alias ppt2pdf="soffice --headless --convert-to pdf"
alias jackett="mono --debug /Applications/Jackett/JackettConsole.exe"
alias loco="/usr/local/bin/sl"
alias dc="cd"
alias crontab="VIM_CRONTAB=true crontab"

alias eject-duralumin="sync-duralumin && diskutil unmount /Volumes/DURALUMIN"

alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome &"
alias chromec="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary &"

alias k="k -h"
alias ka="k -Ah"

alias -g "brew-upgrade-all"="brew update && brew outdated | xargs brew upgrade"

alias ghostscript="/usr/local/bin/gs"