alias ga='git add'
alias gs='git status'
alias gu='git pull'
alias ts='tig status'
alias gg='git graph'

alias hgrep='history -n 1 | grep'
alias rsub='rmate'

alias fuck='eval $(thefuck $(fc -ln -1)); history -r'
alias matlabc='matlab -nodesktop -nosplash'
alias jc="jupyter nbconvert"
alias jq='jupyter qtconsole --style monokai &'
alias jn="jupyter notebook"
alias jn-b="jupyter notebook --no-browser"
alias tab='open . -a iterm'
alias diff='colordiff'
alias yt="youtube-dl"
alias yta="youtube-dl --extract-audio --audio-format mp3"
alias doc2pdf="soffice --headless --convert-to pdf"
alias ppt2pdf="soffice --headless --convert-to pdf"

alias loco="/usr/local/bin/sl"
alias dc="cd"
alias crontab="VIM_CRONTAB=true crontab"

alias ghostscript="/usr/local/bin/gs"

# Functions

# Rename iterm Windows
# $1 = type; 0 - both, 1 - tab, 2 - title
# rest = text
setTerminalText () {
    # echo works in bash & zsh
    local mode=$1 ; shift
    echo -ne "\033]$mode;$@\007"
}
stt_both  () { setTerminalText 0 $@; }
stt_tab   () { setTerminalText 1 $@; }
stt_title () { setTerminalText 2 $@; }

tn () {stt_tab $@ && tmux new -s $@}
ta () {stt_tab $@ && tmux a -t $@}


# OS dependent aliases
case "$(uname -s)" in

   Darwin)
     # echo 'Mac OS X'

     alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome &"
     alias chromec="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary &"

     alias jackett="mono --debug /Applications/Jackett/JackettConsole.exe"
     alias eject-duralumin="sync-duralumin && diskutil unmount /Volumes/DURALUMIN"
     alias "bu"="brew update && brew outdated | xargs brew upgrade  && brew cleanup -s"

     ;;

   Linux)
     # echo 'Linux'
     ;;

   CYGWIN*|MINGW32*|MSYS*)
     # echo 'MS Windows'
     ;;

   # Add here more strings to compare
   # See correspondence table at the bottom of this answer

   *)
     # echo 'other OS'
     ;;
esac


# Global Alias (only zsh)
case $SHELL in
*/zsh)
   # assume Zsh
   ;;
*/bash)
   # assume Bash
   ;;
*)
   # assume something else
esac
